{% load i18n %}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url "account:index" %}" class="logo">
                        <h1>{% trans "Seminar" %}</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url "account:index" %}" class="">{% trans "Home" %}</a></li>
                        <li><a href="#courses">{% trans "Courses" %}</a></li>
                        <li><a href="#trainers">{% trans "Trainers" %}</a></li>
                        {% if request.user.is_authenticated %}
                        <li>{{ request.user.username }}</li>
                        {% else %}
                        <li><a href="{% url "account:signin" %}">{% trans "Sign In" %}</a></li>
                        {% endif %}
                    </ul>   
                    <a class="menu-trigger">
                        <span>{% trans "Menu" %}</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>