{% extends "account.base.html" %} {% load static i18n crispy_forms_tags %}
{% block main %}

<div class="section events" id="events">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-heading">
          <h6>{{ model }}</h6>
          <h2>{{ title }}</h2>
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        {% crispy form form.helper%}
      </form>
      {% if suggestions %}
        <div>
          <span class="fs-20">Recommended</span>
          {% for s in suggestions  %}
          <div>{{ s }}</div>
          {% endfor %}
        </div>
      {% endif %}
      <div></div>
    </div>
  </div>
</div>


{% endblock main %}
