{% extends "account.base.html" %} 
{% load static i18n %}

{% block main %}

<div class="section events" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endfor %}
          </div>
          <h6>Courses</h6>
          <h2>All courses</h2>
          <div class="d-flex justify-content-evenly">

            <a href="{% url "course:course-create" %}" role="button" class="btn btn-sm btn-primary">
              <span class="fa fa-plus"></span> {% trans "New course" %}
            </a>
            <a href="{% url "course:trainer-create" %}" role="button" class="btn btn-sm btn-primary">
              <span class="fa fa-plus"></span> {% trans "New Trainer" %}
            </a>
          </div>
        </div>
      </div>

{% for course in courses %}
 {% include "account/partials/_item.html" with course=course %}
{% empty %}
<p class="fs-22">
  {% trans "No course registered" %}
</p>
{% endfor %}

{% endblock main %}
