<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block page_description %}Description de la page{% endblock page_description %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <title>{% block page_title %}Seminar Management{% endblock page_title %}</title>
    {% block page_css %}{% endblock page_css %}
  </head>
  <body class="sidebar-fixed">
    {% block page_body %}{% endblock page_body %}
    {% block page_scripts %}{% endblock page_scripts %}
  </body>
</html>